In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    "c": [1, 1, 1, 2, 2, 2, 2],
    "type": ["m", "n", "o", "m", "m", "n", "n"]
})
df

   c type
0  1    m
1  1    n
2  1    o
3  2    m
4  2    m
5  2    n
6  2    n

In [12]:
print(df.agg({'c': ['sum', 'mean']}))

              c
sum   11.000000
mean   1.571429

In [22]:
print(df.shift(1))

     c  type
0  NaN  None
1  1.0     m
2  1.0     n
3  1.0     o
4  2.0     m
5  2.0     m
6  2.0     n

In [17]:
print(df.groupby('c').agg({'c':'describe'}).round(0))

      c
  count mean  std  min  25%  50%  75%  max
c
1   3.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0
2   4.0  2.0  0.0  2.0  2.0  2.0  2.0  2.0

In [21]:
dd = df.agg(count=('c', 'count'), mean=('c', 'mean'))
print(dd.index)

Index(['count', 'mean'], dtype='object')

In [13]:
print(df.describe())

              c
count  7.000000
mean   1.571429
std    0.534522
min    1.000000
25%    1.000000
50%    2.000000
75%    2.000000
max    2.000000

In [10]:
print(df['c'].agg(['sum', 'mean']))

sum     11.000000
mean     1.571429
Name: c, dtype: float64

In [8]:
dff = df.groupby('c')['type'].transform('last')
dff

0    o
1    o
2    o
3    n
4    n
5    n
6    n
Name: type, dtype: object